@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.hero-dialog {
  .mat-mdc-dialog-surface {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .mat-mdc-dialog-container {
    padding: 0;
  }
}